body, html {
    width: 100%;
    height: 100%;
}

#banner {
    width: 100%;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
}

#banner i{
    padding: 0;
    padding-right: 5px;
}

#banner-contact {
    color: gray;
}

#banner-contact,
#sale-alert,
#login {
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sale-alert {
    font-weight: bold;
    color: darkblue;
    text-align: center;
}

.navbar-default {
    border-color: transparent;
    background-color: white;
    align-content: center;
    width: 100%;
    overflow-x: inherit;
}

.navbar-default .navbar-logo:hover,
.navbar-default .navbar-logo:focus,{
    text-decoration: none; 
}


.navbar-default .navbar-toggle {
    border: none;
    background-color: lightgray;
    margin: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: dimgray;
}

.navbar-default .nav li {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #383838;
    padding: 28px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    height: 100%;
    text-align: center;
}

.navbar-default .nav li:hover {
    outline: 0;
    color: black;
}

#logo-name{
    height: 2.5em;
    width: auto;
    margin: 20px 0 20px 10px;
}

@media(min-width:800px) {
    .navbar-default {
        padding:0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default.navbar-shrink {
        background-color:white;
    }
}

#search {
    color: salmon;
    border-left: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
    padding-left: 15px;
    padding-right: 15px;
}

#search i {
    font-size: 15px;
}

#cart {
    justify-content: center;
    padding: 20px;
    font-size: 9px;
    text-align: center;
    line-height: 15px;
}

#cart i {
    font-size: 15px;
}



